
{{> me }}

<section class="container">
  <ol class="terminal-toc">
    {{#each post}}
    <li><a href="/post/{{this.slug}}">{{this.title}}</a></li>
    {{/each}}
  </ol>
  <section title="posts">
  </section>
