<section title="post"class="container">
    <header>
        {{{post.title}}}
        {{post.date}}
    </header> 
    {{{post.html}}}
    <p style = "color:gray;">tags: [TypeScript | Metric | Telemetric]</p> 
    <p style = "color:gray;">date: {{{post.date}}}</p> 
</section>

