<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>burdier.blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="/css/terminal.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <div class="container">
    <div class="terminal-nav">
      <header class="terminal-logo">
        <div class="logo terminal-prompt"><a href="/" class="no-style">Burdier.blog</a></div>
      </header>
      <nav class="terminal-menu">
        <ul vocab="https://schema.org/" typeof="BreadcrumbList">
          <li property="itemListElement" typeof="ListItem"><a href="/music" property="item" typeof="WebPage"
              class="menu-item"><span property="name">🤍 music</span></a>
            <meta property="position" content="2">
          </li>
          <li property="itemListElement" typeof="ListItem"><a href="https://terminalcss.xyz/sans-serif-dark/"
              property="item" typeof="WebPage" class="menu-item"><span property="name"></span>🧰 tools</a>
            <meta property="position" content="3">
          </li>
          <li style="height: 28px;"><span></span></li>
        </ul>
      </nav>

    </div>
  </div>
  <main>
    {{{body}}}
  </main>
</body>

</html>